[submodule "TotalCrossVM/deps/SDL"]
	path = TotalCrossVM/deps/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "TotalCrossVM/deps/wince-deps"]
	path = TotalCrossVM/deps/wince-deps
	url = https://gitlab.com/totalcross/wince-deps
